@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StockPerformance_CleanArchitecture.Models.StockPerformanceHistory
@{
    ViewData["Title"] = "Advanced Search Result";
    var lables = @Model.StockPerformanceResponses.Select(a =>
    System.Web.HttpUtility.HtmlEncode("'" + a.Symbol + ":" + a.StartDate.Month + "/" + a.StartDate.Year + "'")).ToArray();
    var data = Model.StockPerformanceResponses.Select(a =>
    System.Web.HttpUtility.HtmlEncode(a.ProfitInDollar)).ToArray();
    var resultTable = Model.DisplayPerformanceResult();
}
<h1>@ViewData["Title"]</h1>
<body>
    <form method="post">
        <div>@Html.Raw(Model.ProfitChart.ChartJsonForPerformanceHistory)</div>
        <br />
    </form>
</body>
</html>
<p style="float: right;">
    @Html.ActionLink("Export to Excel", "OnPostDownloadFileForAdvanceSearch", "StockPerformance")
</p>
<span class="text-center">
    <button class="button">
        @Html.ActionLink("Back to search", "AdvanceSearch", "Home", new { willClearAllSearch = true })
    </button>

</span>
<div>
    @Html.Raw(resultTable)
</div>
