@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model StockPerformance_CleanArchitecture.Models.StockPerformanceHistory
@{
    ViewData["Title"] = "Advanced Search Result";
    var lables = @Model.StockPerformanceResponses.Select(a =>
    System.Web.HttpUtility.HtmlEncode("'" + a.Symbol + ":" + a.StartDate.Month + "/" + a.StartDate.Year + "'")).ToArray();
    var data = Model.StockPerformanceResponses.Select(a =>
    System.Web.HttpUtility.HtmlEncode(a.ProfitInDollar)).ToArray();


}
<h1>@ViewData["Title"]</h1>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>

    <script src="//cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <title>ColumnChart</title>
</head>

<body>
    <form method="post">
        <div>@Html.Raw(Model.ProfitChart.ChartJson)</div>
        <br />
    </form>
</body>
</html>

<span>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Symbol</th>
            <th>Profit In Percentage</th>
            <th>Profit In $</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Created Time</th>
            <th>Number of trade a month</th>
        </tr>
        @foreach (var row in Model.StockPerformanceResponses
            .OrderBy(a => a.Symbol)
            .ThenBy(a => a.SearchDetail.SettingDate.Year))
        {
            <tr>
                <th>
                    @Html.ActionLink(row.Symbol, "StockPerformance", "StockPerformance", new { json = row.SearchDetail.ToJson() })
                </th>
                <th>@row.ProfitInPercentage</th>
                <th>@row.ProfitInDollar</th>
                <th>@row.SearchDetail.SettingDate.ToString()</th>
                <th>@row.SearchDetail.SearchSetup.EndingYear.ToString()</th>
                <th>@row.CreatedTime</th>
                <th>@row.SearchDetail.TradingRule.NumberOfTradeAMonth</th>
            </tr>
        }
    </table>
</span>