@model StockPerformance_CleanArchitecture.Models.StockPerformanceResponse
@{
    ViewData["Title"] = "Stock Performance";
    var profit = Model.ProfitInDollar;
    var profitPercentage = Model.ProfitInPercentage;

    var years = Model.DepositLedgers.Select(a => a.Date.Year).Distinct();
    var months = Model.DepositLedgers.Select(a => new { a.Date.Month, a.Date.Year})
        .Distinct()
        .OrderBy(a => a.Year).ThenBy(a => a.Month);
    var startingMonth = months.First();
    var endingMonth = months.Last();
    var searchDetail = Model.SearchDetail;
}
<h1>@ViewData["Title"]</h1>
<p>
    Performance report for Symbol: @Model.Symbol, starting year: @Model.Year Using setting @Model.DisplayStockPerformance()
</p>
<p>
    Total Balance After Loss: @Model.TotalBalanceAfterLoss
    Total Deposit: @Model.TotalDeposit
    Total Holding in Position: @Model.TotalBalanceHoldingInPosition
    Current price: @Model.CurrentPrice
    Current holding share: @Model.CurrentHoldingShare
</p>
<h2> Profit: $ @profit (@profitPercentage %) from
    @startingMonth.Month/@startingMonth.Year to
    @endingMonth.Month/@endingMonth.Year (@months.Count() months)</h2>
<p>
    <h3>Monthly Profit</h3>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Month</th>
            <th>Year</th>
            <th>Profit</th>
            <th>Metric</th>
        </tr>
        @foreach (var row in Model.ProfitSummaryInDollar.MonthlyProfits)
        {
            <tr>
                <td>@row.Month</td>
                <td>@row.Year</td>
                <td>@row.Amount</td>
                <td>$</td>
            </tr>
        }
    </table>
    <h3>Yearly Profit</h3>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Year</th>
            <th>Profit</th>
        </tr>
        @foreach (var row in Model.ProfitSummaryInDollar.YearlyProfits)
        {
            <tr>
                <td>@row.Year</td>
                <td>@row.Amount</td>
            </tr>
        }
    </table>

    <h3> Stock Ledgers</h3>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Bought Date</th>
            <th>Sold Date</th>
            <th>ShareCount</th>
            <th>Bought Price</th>
            <th>Sold Price</th>
            <th>Position Type</th>
        </tr>
        @foreach (var row in Model.StockLedgerDetails)
        {
            <tr>
                <td>@row.BoughtDate</td>
                <td>@row.SoldDate</td>
                <td>@row.ShareCount</td>
                <td>@row.BoughtPrice</td>
                <td>@row.SoldPrice</td>
                <td>@row.PositionType</td>
            </tr>
        }
    </table>
    <h3>Deposit Ledgers</h3>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        @foreach (var row in Model.DepositLedgers)
        {
            <tr>
                <td>@row.Date</td>
                <td>@row.Amount</td>
            </tr>
        }
    </table>

</p>