@model StockPerformance_CleanArchitecture.Models.ProfitDetails.SearchDetail

@{
    ViewData["Title"] = "Add Customize Search Detail Page";
    var symbols = Model.SearchSetup?.Symbols?.OrderBy(a => a);
    var selectListSymbols = symbols?
        .Select(symbol => new SelectListItem { Text = symbol?.ToUpper(), Value = symbol?.ToUpper() })
        .ToList();

    var selectListSaveName = Model.ActiveSelectedSearchDetails
    .Select(detail => new SelectListItem { Text = detail.Name, Value = detail.Name })
    .ToList();

    var count = Model.SearchSetup?.EndingYear.Year - Model.SearchSetup?.StartingYear.Year + 1;
    var selectListYears = Enumerable.Range(2000, DateTime.Now.Year + 1 - 2000)
        .Select(year => new SelectListItem
        {
            Text = year.ToString(),
            Value = year.ToString(),
        }).ToList();

    var selectListMonths = Enumerable.Range(1, 12)
    .Select(month => new SelectListItem
    {
        Text = month.ToString(),
        Value = month.ToString(),
    }).ToList();

    var selectListNumberOfDeposits = Enumerable.Range(0, 100)
    .Select(number => new SelectListItem
    {
        Text = number.ToString(),
        Value = number.ToString(),
    }).ToList();
    var selectListDateOfMonth = Enumerable.Range(1, 31)
        .Select(number => new SelectListItem
        {
            Text = number.ToString(),
            Value = number.ToString(),
        }).ToList();
    var selectListForNumberOftrademonthly = Enumerable.Range(1, 2)
        .Select(number => new SelectListItem
        {
            Text = number.ToString(),
            Value = number.ToString(),
        }).ToList();
}


<div class="text-center">
    @using (Html.BeginForm("SaveCustomizedSearchDetailSetup", "Home", FormMethod.Get, new { useDefault = false }))
    {
        <fieldset>
            <span>
                <p>
                    Name your search: @Html.TextBoxFor(a => a.Name)
                </p>
            </span>
            <span>
                <h4> Deposit Setting</h4>
                <p>First One Time Deposit Amount @Html.TextBoxFor(m => m.DepositRule.InitialDepositAmount)</p>
                <p>Repetitive Deposit Amount: @Html.TextBoxFor(m => m.DepositRule.DepositAmount)</p>
                <p>
                    First deposit date @Html.DropDownListFor(m => m.DepositRule.FirstDepositDate, selectListDateOfMonth)

                    Last deposit date @Html.DropDownListFor(m => m.DepositRule.SecondDepositDate, selectListDateOfMonth)
                </p>
            </span>
            <span>
                <h4>Trading Rule:</h4>
                <p>
                    Buy more when we are already gained
                    @Html.TextBoxFor(m => m.TradingRule.BuyPercentageLimitation)%
                </p>
                <p>
                    Sell all when we are lost and currently at
                    @Html.TextBoxFor(m => m.TradingRule.SellPercentageLimitation)% of cost of overall investment
                </p>
                <p>
                    Maximum amount to trade at once $
                    @Html.TextBoxFor(m => m.TradingRule.PurchaseLimitation)
                </p>
                <p>
                    Loss Limitation:
                    @Html.TextBoxFor(m => m.TradingRule.LossLimitation)
                    or price dropped
                    @Html.TextBoxFor(m => m.TradingRule.SellAllWhenPriceDropAtPercentageSinceLastTrade)% since last visit.
                </p>

                <p>
                    Number of Trade monthly:
                    @Html.DropDownListFor(m => m.TradingRule.NumberOfTradeAMonth, selectListForNumberOftrademonthly)
                </p>
                <p>We will trade between</p>
                <p>
                    @Html.DropDownListFor(m => m.TradingRule.LowerRangeOfTradingDate, selectListDateOfMonth)
                    and @Html.DropDownListFor(m => m.TradingRule.HigherRangeOfTradingDate, selectListDateOfMonth)
                    of a month
                </p>

            </span>
            <p>

                <h4>Symbol List </h4>
                @Html.DropDownListFor(m => m.Symbol, selectListSymbols)
            <p>
                Year
                @Html.DropDownListFor(m => m.SettingDate.Year, selectListYears)
                Month
                @Html.DropDownListFor(m => m.SettingDate.Month, selectListMonths)
                Date
                @Html.DropDownListFor(m => m.SettingDate.Day, selectListDateOfMonth)
            </p>
            </p>
        </fieldset>
        <p>
            <input type="submit" value="Save Search" />
        </p>

    }

</div>



